.bodyindex  {
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr;
        min-height: 100vh;
      }

body{
        background-image: url(https://static.wikia.nocookie.net/grounded9429/images/b/b5/Site-background-light/revision/latest?cb=20221208105020);
}
      
      header {
        background-image: linear-gradient(to right, #3d5a80, #98c1d9, #e0fbfc);
        animation: animateGradient 15s linear infinite;
        color: #fff;
        padding: 2rem;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        align-items: space around;
       
      }
      
      h1 {
        font-size: 3rem;
        margin: 30px;
        color: aqua;
      }
      
      nav {
        background-color: blue;
        display: none;
        padding: 1rem;
        margin: 10px;
      }
      
      nav.mobile-nav {
        display: block; border-style: inset;
      }
      
      nav.mobile-nav a {
        display: block;
        color: #fff;
        text-decoration: none;
        margin: 1rem;
        transition: color 0.3s;
        border-style: dashed;
      }
      
      nav.mobile-nav a:hover {
        color: aqua;
      }
      
      main {
        background-color: #eee;
        padding: 1rem;
      }
      
      footer {
        background-color: #333;
        color: #fff;
        padding: 1rem;
      }
      
      @keyframes animateGradient {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
      
      @media screen and (min-width: 768px) {
        body {
          grid-template-rows: auto 1fr;
          grid-template-columns: 1fr minmax(0, 960px) 1fr;
        }
        header, footer {
          grid-column: 1 / -1;
        }
        main {
          grid-column: 2 / -2;
        }
        nav.mobile-nav {
          display: none;
        }
        nav.desktop-nav {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: blue;
          padding: 1rem;
        }
        nav.desktop-nav a {
          color: #fff;
          text-decoration: none;
          margin-right: 1.5rem;
          transition: color 0.3s;
          margin: 10px; 
        }
        nav.desktop-nav a:hover {
          color: aqua;
        }
        nav.desktop-nav a:last-of-type {
          margin-right: 0;
        }
      }
      
      

        
      @keyframes gradient {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
      
      